In [140]:
import numpy as np
import pandas as pd
import csv
from operator import le
df = pd.read_csv('data_files/ds_salaries.csv')
total_rows = len(df.axes[0])
total_columns = len(df.axes[1])
print(f"Rows: {total_rows}")
print(f"Columns: {total_columns}")
ds_data = 'data_files/ds_salaries.csv'

with open(ds_data) as data:
    count = 0
    for line in data.readlines():
        count += 1
    print(count)
df.describe(include = 'all')
# df.head(15)

Rows: 607
Columns: 12
608

,Unnamed: 0,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
count,607.000000,607.000000,607,607,607,6.070000e+02,607,607.000000,607,607.00000,607,607
unique,NaN,NaN,4,4,50,NaN,17,NaN,57,NaN,50,3
top,NaN,NaN,SE,FT,Data Scientist,NaN,USD,NaN,US,NaN,US,M
freq,NaN,NaN,280,588,143,NaN,398,NaN,332,NaN,355,326
mean,303.000000,2021.405272,NaN,NaN,NaN,3.240001e+05,NaN,112297.869852,NaN,70.92257,NaN,NaN
std,175.370085,0.692133,NaN,NaN,NaN,1.544357e+06,NaN,70957.259411,NaN,40.70913,NaN,NaN
min,0.000000,2020.000000,NaN,NaN,NaN,4.000000e+03,NaN,2859.000000,NaN,0.00000,NaN,NaN
25%,151.500000,2021.000000,NaN,NaN,NaN,7.000000e+04,NaN,62726.000000,NaN,50.00000,NaN,NaN
50%,303.000000,2022.000000,NaN,NaN,NaN,1.150000e+05,NaN,101570.000000,NaN,100.00000,NaN,NaN
75%,454.500000,2022.000000,NaN,NaN,NaN,1.650000e+05,NaN,150000.000000,NaN,100.00000,NaN,NaN
max,606.000000,2022.000000,NaN,NaN,NaN,3.040000e+07,NaN,600000.000000,NaN,100.00000,NaN,NaN

First I am going to separate out the information in the columns into lists.
I will do that for each column so I can clean the columns. I will do this without Pandas.

In [141]:
def get_column_names(data):
    with open(data) as data:
        columns = data.readline()
        each = columns.strip(',').strip().split(',')
    return each
list_column_names = get_column_names(ds_data)
print(list_column_names)

['work_year', 'experience_level', 'employment_type', 'job_title', 'salary', 'salary_currency', 'salary_in_usd', 'employee_residence', 'remote_ratio', 'company_location', 'company_size']

Create empty lists to append each column's content to, so I can look at them each individually.

In [142]:
work_year = []
experience_level = []
employment_type = []
job_title = []
salary = []
salary_currency = []
salary_in_usd = []
employee_residence = []
remote_ratio = []
company_location = []
company_size = []

In [143]:
ds_data = 'data_files/ds_salaries.csv'
def data_as_dict(data):
    with open(data, newline='') as ds_data:
        dict_data = []
        data = csv.DictReader(ds_data)
        for row in data:
            row.pop('')
            dict_data.append(row)
        return dict_data
list_data = data_as_dict(ds_data)

In [144]:
list_data = data_as_dict(ds_data)
def add_to_list(lists, to_add):
    for i in list_data:
        lists.append(i[to_add])

In [145]:
add_to_list(work_year, 'work_year')
add_to_list(experience_level, 'experience_level')
add_to_list(employment_type, 'employment_type')
add_to_list(job_title, 'job_title')
add_to_list(salary, 'salary')
add_to_list(salary_currency, 'salary_currency')
add_to_list(salary_in_usd, 'salary_in_usd')
add_to_list(employee_residence, 'employee_residence')
add_to_list(remote_ratio, 'remote_ratio')
add_to_list(company_location, 'company_location')
add_to_list(company_size, 'company_size')

In [147]:
print(len(salary))

607